:root {
    --background: rgba(255, 255, 255, .85);
    --primary: rgba(21, 109, 198, 0.79);
    --secondary: rgba(5, 112, 221, 0.79);
}

html {
    box-sizing: border-box;
    color: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    font-size: 3.5vh;
    background: url(denise-johnson-463885-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/*--------------------------*/
/* Nav Bar                  */
/*--------------------------*/
nav {
    padding: 1.5vh 2vh;
    display: flex;
    justify-content: space-between;
    background: var(--primary);
}

ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    border-left: 1px solid white;
}

ul#difficulties > * {
    padding: 0 2vh;
}

ul#stats > * {
    padding: 0 1.5vh;
}

ul#difficulties > *:hover {
    text-decoration: underline #FFF;
    cursor: pointer;
}


/*--------------------------*/
/* Buttons / Text Boxes     */
/*--------------------------*/
.box {
    padding: 10px;
    border-radius: 10px;
    background: var(--primary);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
}

.answerRGB {
    margin-top: 50px;
    margin-bottom: 30px ;
}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.guesses {
    margin-right: 30px;
    font-size: 20px;
}

.play-again {
    margin-left: 30px;
    font-size: 20px;
    transition: all .2s;
}

.play-again:hover {
    cursor: pointer;
    background: var(--secondary);
    transform: scale(1.03);
}


/*--------------------------*/
/* Game Board               */
/*--------------------------*/
section.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.board {
    background: var(--background);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: red;
    border-radius: 8px;
}

.color-square {
    height: 36%;
    width: 15%;
    flex-basis: 25%;
    margin: 15px;
    border-radius: 10px;
    transition: transform .2s,
                background .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.color-square.hover {
    transform: scale(1.07);
}

.square1 { background: rgb(55, 66, 150);}
.square2 { background: rgb(16, 211, 244);}
.square3 { background: rgb(247, 98, 138);}
.square4 { background: rgb(13, 234, 47);}
.square5 { background: rgb(8, 20, 167);}
.square6 { background: rgb(229, 220, 10);}

